@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Frijole&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----Navbar----*/

.navbar-brand {
    font-family: "Frijole", sans-serif;
    font-size: 40px;
}
.navbar .navbar-brand:hover {
    color: #D87B38;
}

.navbar .navbar-brand {
    color: #D87B38;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-custom {
    background-color: #396DDE;
}

 .nav-link {
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
}

/*---Callout Image Brand---*/

.calloutimage-container {
    height: 100vh;

    background: url('../images/mexican-food.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: transparent;
    font-family: "Playfair Display", sans-serif;
    letter-spacing: 0.05em;
    color: #D87B38;
}

.lead {
    font-size: 24px;
    font-weight: lighter;
}

/*---Welcome---*/

.welcome {
    padding: 40px;
}

.sub-headings {
    font-family: "Playfair Display", sans-serif;
    letter-spacing: 0.05em;
    padding-bottom: 5px;
}