@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Frijole&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----Navbar----*/

.navbar-brand {
    font-family: "Frijole", sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar .navbar-brand:hover {
    color: #468058;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.navbar-custom {
    background-color: #ffc800;
}

 .nav-link {
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.05em;
}

/*---Callout Image Brand - Home & Menu---*/

.calloutimage-container-home {
    height: 100vh;

    background: url('../images/mexican-food.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
.opaque-overlay-callout {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: transparent;
    font-family: "Playfair Display", sans-serif;
    padding-top: 0px;
    letter-spacing: 0.05em;
    color: #468058;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #ffc800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-header {
    font-family: "Playfair Display", sans-serif;
    padding: 20px;
    letter-spacing: 0.05em;
    color: #000000;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #ffc800;
}

/*---Code used from tutorial and adjusted to suit my project: https://www.tutorialrepublic.com/faq/how-to-position-text-over-an-image-using-css.php */

.logo-box{
        position: relative;
        display: inline-block; 
    }
    .logo-box .logo-text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 80%; 
        text-align: center;
        width: 60%; 
    }

.lead {
    font-size: 24px;
    font-weight: lighter;
}

/*---Welcome & Main Content---*/

.welcome {
    padding: 40px;
    background-color: #ffc800;
}

.welcome-col {
    padding: 0px;
}

.origins-col {
    background-color: rgba(0, 0, 0, 0.1);
    border: groove;
    border-color: rgba(255, 200, 0, 0.5);
    border-radius: 25px;
    padding: 20px;

}

.party-col {
    background-color: rgba(0, 0, 0, 0.1);
    border: groove;
    border-color: rgba(255, 200, 0, 0.5);
    border-radius: 25px;
    padding: 20px;

}

.contact-icon {
    color: #ffc800;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.contact-icon:hover {
    color: #000000;
}

.offers-img {
    margin: auto;
    display: block;
}

.offers-img img { 
border-radius: 50%;
}



.main-content-1 {
    padding: 40px;
    background: url('../images/cactus.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;   
width:100%;

position: relative;
}

.main-content-2 {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffc800;
}

.opaque-overlay-main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}
.paragraph-content {
    font-family: Crimson Text, sans-serif;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.05em;
}

.menu-content {
    padding-top: 40px;
    padding-bottom: 1px;
    background: url('../images/cactus-menu.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;   
width:100%;

position: relative;
}

.menu-col {
    background-color: rgba(0, 0, 0, 0.1);
    border: groove;
    border-color: rgba(255, 200, 0, 0.5);
    border-radius: 25px;
}

.menu-list {
padding-top: 20px;
padding-left: 0px;
line-height: 30px;
}

.menu-list li {
    font-family: Crimson Text, sans-serif;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
font-style: normal;
font-weight: normal;
font-size: 24px;
letter-spacing: 0.05em;
margin-bottom: 1.5em;
list-style-type: none;
}

.menu-list i {
    font-family: Crimson Text, sans-serif;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
font-style: normal;
font-weight: normal;
font-size: 14px;
letter-spacing: 0.05em;
}

.sub-headings {
    font-family: "Playfair Display", sans-serif;
    letter-spacing: 0.05em;
    padding-bottom: 5px;
    text-shadow: 0px 1px 1px rgba(6, 44, 1, 0.5);
}

.sub-headings-menu {
    font-family: "Playfair Display", sans-serif;
    letter-spacing: 0.05em;
    text-shadow: 0px 1px 1px rgba(6, 44, 1, 0.5);
}

.testimonials {
    padding-top: 40px;
    background-color: #000000;
}

/*---Carousel---*/

.carousel-inner img {
    width: 80%;
  }


/*---footer---*/
.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffc800;
}

.brand-footer {
    font-family: "Frijole", sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-text-address {
font-family: Crimson Text, sans-serif;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.05em;
}

.footer-text-times {
font-family: Crimson Text, sans-serif;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 15px;
letter-spacing: 0.05em;
}

.social-links {
    padding: 10px;
}

.social-links li a i {
    width: 36px;
    height: 36px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 24px;
    line-height: 12px;
    color: #ffc800;
    background: #000000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {
    background: #468058;
}

.footer-text-social {
font-family: Crimson Text, sans-serif;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.05em;
}

/*---Media Queries---*/

@media (max-width: 576px) { 

.navbar-brand {
    font-size: 28px;
}

.jumbotron h2 {
    font-size: 48px;
}

.jumbotron .lead {
    font-size: 20px;
}

.main-content-1 {
    padding-left: 30px;
    padding-right: 30px;
}
.origins-col {
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;

}

.party-col {
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;


}

.offers-img img { 
padding-top: 20px;
}

.footer-padding {
    padding-top: 20px;
}

 }

 @media (max-width: 768px) {
   .origins-col {
    margin-bottom: 20px;

}

.party-col {
    margin-top: 20px;

}
}

@media (min-width: 768px) {
   .origins-col {
    margin: 20px;

}

.party-col {
    margin: 20px;

}
}
