@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Frijole&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----Navbar----*/

.navbar-brand {
    font-family: "Frijole", sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 40px;
}

.navbar .navbar-brand:hover {
    color: #468058;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.navbar-custom {
    background-color: #ff6105;
}

 .nav-link {
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*---Callout Image Brand---*/

.calloutimage-container {
    height: 100vh;

    background: url('../images/mexican-food.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: transparent;
    font-family: "Playfair Display", sans-serif;
    padding-top: 0px;
    letter-spacing: 0.05em;
    color: #468058;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*---Code used from tutorial and adjusted to suit my project: https://www.tutorialrepublic.com/faq/how-to-position-text-over-an-image-using-css.php */

.logo-box{
        position: relative;
        display: inline-block; 
    }
    .logo-box .logo-text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 80%; 
        text-align: center;
        width: 60%; 
    }

.lead {
    font-size: 24px;
    font-weight: lighter;
}

/*---Welcome & Main Content---*/

.welcome {
    padding: 40px;
    background-color: #ffc800;
}


.offers-img img { 
width: 100%;
border-radius: 50%;
margin-top: 20px
}

.main-content {
    padding: 40px;
}
.paragraph-content {
    font-family: Crimson Text, sans-serif;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.05em;
}

.sub-headings {
    font-family: "Playfair Display", sans-serif;
    letter-spacing: 0.05em;
    padding-bottom: 5px;
    text-shadow: 0px 1px 1px rgba(6, 44, 1, 0.5);
}

.testimonials {
    padding-top: 40px;
}
